.button {
    color: var(--color-white);
    background-color: var(--color-active);

    padding: calc(var(--unit) * 16px) calc(var(--unit) * 24px);
    border-radius: calc(var(--unit) * 16px);
    text-align: center;
}

.button:hover {
    background-color: var(--color-active-dark);
    color: var(--color-muted);
}
